body {
    height: 100%;
    /*background-image: url*/
    background-color: #484b51;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left top;
}
.navbar-darkish {
    background-color:#37393e;
    color:#b9bbbe;
}

.navbar-darkish img {
    max-height: 60px;
    max-width: 100px;
}

.navbar-darkish ul {
    background-color:#37393e;
    color:#b9bbbe;
}

.navbar-darkish ul li div{
    background-color:#37393e;
    border: darkgrey;
}

.navbar-darkish ul li div a{
    color:#b9bbbe;
}

.navbar-darkish ul li div a:hover{
    background-color:#37393e;
    color:white;
}

.gradiant-background {
    /*background-image: linear-gradient(to bottom, white, #d9d9d9);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left top;*/
}

.box {
    background-color: white;
    border: #d9d9d9 solid 1px;
    border-radius: 5px;
    padding: 1% 2%;
}
.profile-img {
    border-radius: 50%;
    border: #d9d9d9 double 5px;
    height: 136px;
    width: 136px;
}

.text-gray {
    color:#b9bbbe;
}

.nav-tabs-dark {}

.nav-tabs-dark li {}

.nav-tabs-dark li a {
    color:#b9bbbe;
}

.nav-link-dark {
    padding: .5rem 1rem;
    display: block;
    border: transparent solid 1px;
}

.nav-link-dark:hover {
    color:#e4e5e7;
    border: #787c87 solid 1px;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    text-decoration: none;
}

.nav-tabs-dark li a.active-dark {
    color: white;
    background-color: #60646c;
    border: transparent solid 1px;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
}
